<footer class="mt-auto py-3 text-center">

  <small class="text-muted mb-2">
    <i class="fas fa-code"></i> with <i class="fas fa-heart"></i> by <strong>{{ site.author.name }}</strong>.
  </small>

  <small class="text-muted mb-2">
    <img src="https://hitscounter.dev/api/hit?url=lenjis.github.io&label=U+R+2+Late%21&icon=github&color=%23198754">
  </small>

  {% include social.html %}

  {%- assign theme_name = "portfolYOU" -%}
  {%- assign theme_repo = "https://github.com/yousinix/portfolYOU" -%}
  <small id="attribution">
    theme <a href="{{ theme_repo }}">{{ theme_name }}</a>
  </small>

</footer>